@model TasikmalayaKota.Simpatik.Web.Services.tsPaket.Models.tsPaketModel
@{
    ViewData["Title"] = ViewBag.Title;
}

<div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="e-float-input e-control-wrapper">
                <div class="e-float-input e-control-wrapper e-input e-valid-input">
                    @Html.TextBoxFor(x => Model.opd, new { @class = "e-control e-textbox e-lib", @readonly = "readonly" })
                    @*@Html.TextBoxFor(x => Model.jeniskebutuhan, new { @class = "e-control e-textbox e-lib", @readonly = "readonly", @hidden = "hidden" })*@
                    <input id="paket" data-val="true" class="e-control e-textbox e-lib" type="text" role="textbox" hidden>
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" id="label_opd">OPD</label>
                </div>
            </div>
            <div class="e-float-input e-control-wrapper">
                <div class="e-float-input e-control-wrapper e-input e-valid-input">
                    @Html.TextBoxFor(x => Model.pejabat, new { @class = "e-control e-textbox e-lib", @readonly = "readonly" })
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" id="label_pejabat">Pejabat Pembuat Komitmen</label>
                </div>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="nmpaket" cssClass="e-input" placeholder="Nama Paket" floatLabelType="Always" ejs-for="@Model.nmpaket"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="volume" cssClass="e-input" placeholder="Volume Pekerjaan" floatLabelType="Always" ejs-for="@Model.volume"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="uraian" cssClass="e-input" placeholder="Uraian Pekerjaan" floatLabelType="Always" ejs-for="@Model.uraian"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-combobox id="tipeswakelola" dataSource="@ViewBag.tipeswakelola" cssClass="e-input" placeholder="Tipe Swakelola" floatLabelType="Always" ejs-for="@Model.tipeswakelola">
                    <e-combobox-fields text="Text" value="Value"></e-combobox-fields>
                </ejs-combobox>
            </div>
            @*<div class="e-float-input e-control-wrapper">
            <ejs-textbox id="spesifikasi" cssClass="e-input" placeholder="Spesifikasi Pekerjaan" floatLabelType="Always" ejs-for="@Model.spesifikasi"></ejs-textbox>
        </div>
        <div class="e-float-input e-control-wrapper">
            <ejs-combobox id="prodlmnegeri" dataSource="@ViewBag.yatidak" cssClass="e-input" placeholder="Produk Dalam Negeri" floatLabelType="Always" ejs-for="@Model.prodlmnegeri">
                <e-combobox-fields text="Text" value="Value"></e-combobox-fields>
            </ejs-combobox>
        </div>
        <div class="e-float-input e-control-wrapper">
            <ejs-combobox id="ushkecil" dataSource="@ViewBag.yatidak" cssClass="e-input" placeholder="Usaha Kecil" floatLabelType="Always" ejs-for="@Model.ushkecil">
                <e-combobox-fields text="Text" value="Value"></e-combobox-fields>
            </ejs-combobox>
        </div>*@
            <div class="e-float-input e-control-wrapper">
                <ejs-combobox id="pradpa" dataSource="@ViewBag.yatidak" cssClass="e-input" placeholder="Pra DIPA/ DPA" floatLabelType="Always" ejs-for="@Model.pradpa">
                    <e-combobox-fields text="Text" value="Value"></e-combobox-fields>
                </ejs-combobox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-combobox id="paketstrategis" dataSource="@ViewBag.yatidak" cssClass="e-input" placeholder="Paket Strategis" floatLabelType="Always" ejs-for="@Model.paketstrategis">
                    <e-combobox-fields text="Text" value="Value"></e-combobox-fields>
                </ejs-combobox>
            </div>
            @*<div class="e-float-input e-control-wrapper">
            <ejs-combobox id="mtdpemilihanstlh" dataSource="@ViewBag.metodepemilihan" cssClass="e-input" placeholder="Metode Pemilihan" floatLabelType="Always" ejs-for="@Model.mtdpemilihanstlh">
                <e-combobox-fields text="Text" value="Value"></e-combobox-fields>
            </ejs-combobox>
        </div>*@
        </div>
        @*<div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <ejs-datepicker id="pemanfaatanmulai" value=DateTime.Now format="MMMM y" start="Year" depth="Year" cssClass="e-input" placeholder="Pemanfaatan Barang Mulai" floatLabelType="Always" ejs-for="@Model.pemanfaatanmulai"></ejs-datepicker>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <ejs-datepicker id="pemanfaatanakhir" value=DateTime.Now format="MMMM y" start="Year" depth="Year" cssClass="e-input" placeholder="Pemanfaatan Barang Akhir" floatLabelType="Always" ejs-for="@Model.pemanfaatanakhir"></ejs-datepicker>
            </div>
        </div>*@
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <ejs-datepicker id="pelaksanaanmulai" value=DateTime.Now format="MMMM y" start="Year" depth="Year" cssClass="e-input" placeholder="Jadwal Pelaksanaan Pekerjaan Mulai" floatLabelType="Always" ejs-for="@Model.pelaksanaanmulai"></ejs-datepicker>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <ejs-datepicker id="pelaksanaanakhir" value=DateTime.Now format="MMMM y" start="Year" depth="Year" cssClass="e-input" placeholder="Jadwal Pelaksanaan Pekerjaan Akhir" floatLabelType="Always" ejs-for="@Model.pelaksanaanakhir"></ejs-datepicker>
            </div>
        </div>
        @*<div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <ejs-datepicker id="pemilihanmulai" value=DateTime.Now format="MMMM y" start="Year" depth="Year" cssClass="e-input" placeholder="Jadwal Pemilihan Penyedia Mulai" floatLabelType="Always" ejs-for="@Model.pemilihanmulai"></ejs-datepicker>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <ejs-datepicker id="pemilihanakhir" value=DateTime.Now format="MMMM y" start="Year" depth="Year" cssClass="e-input" placeholder="Jadwal Pemilihan Penyedia Akhir" floatLabelType="Always" ejs-for="@Model.pemilihanakhir"></ejs-datepicker>
            </div>
        </div>*@
    </div>
</div>

<ejs-scripts></ejs-scripts>