@model TasikmalayaKota.Simpatik.Web.Services.mUser.Models.mUserModel
@{
    ViewData["Title"] = ViewBag.Title;
}

<div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="NamaUser" cssClass="e-input" placeholder="Nama User" floatLabelType="Always" ejs-for="@Model.NamaUser"></ejs-textbox>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="NipUser" cssClass="e-input" placeholder="Nip User" floatLabelType="Always" ejs-for="@Model.NipUser"></ejs-textbox>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="JabatanUser" cssClass="e-input" placeholder="Jabatan User" floatLabelType="Always" ejs-for="@Model.JabatanUser"></ejs-textbox>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="GolonganUser" cssClass="e-input" placeholder="Golongan User" floatLabelType="Always" ejs-for="@Model.GolonganUser"></ejs-textbox>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="UserName" cssClass="e-input" placeholder="User Name" floatLabelType="Always" ejs-for="@Model.UserName"></ejs-textbox>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="PasswordUser" cssClass="e-input" placeholder="Password User" floatLabelType="Always" type="password" ejs-for="@Model.PasswordUser"></ejs-textbox>
            </div>
        </div>
        <div class="form-group col-md-6" hidden>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="PappkIdUser" cssClass="e-input" placeholder="PPK" floatLabelType="Always" value="3" readonly="true"></ejs-textbox>
            </div>
        </div>
        <div class="form-group col-md-6" hidden>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="ListIdOpdUser" cssClass="e-input" placeholder="PPK" floatLabelType="Always" value=@ViewBag.idOPD readonly="true"></ejs-textbox>
            </div>
        </div>
        <div class="form-group col-md-6" hidden>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="TipeIdUser" cssClass="e-input" placeholder="Tipe" floatLabelType="Always" value="2" readonly="true"></ejs-textbox>
            </div>
        </div>
    </div>
</div>

<ejs-scripts></ejs-scripts>
