@model TasikmalayaKota.Simpatik.Web.Services.tsIdentifikasi.Models.tsIdentifikasiModel
@{
    ViewData["Title"] = ViewBag.Title;
}

<div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <div class="e-float-input e-control-wrapper e-input e-valid-input">
                    @Html.TextBoxFor(x => Model.opd, new { @class = "e-control e-textbox e-lib", @readonly = "readonly" })
                    @*@Html.TextBoxFor(x => Model.jeniskebutuhan, new { @class = "e-control e-textbox e-lib", @readonly = "readonly", @hidden = "hidden" })*@
                    <input id="paket" data-val="true" class="e-control e-textbox e-lib" type="text" role="textbox" hidden>
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" id="label_opd">OPD</label>
                </div>
            </div>
            <div class="e-float-input e-control-wrapper">
                <div class="e-float-input e-control-wrapper e-input e-valid-input">
                    @Html.TextBoxFor(x => Model.pejabat, new { @class = "e-control e-textbox e-lib", @readonly = "readonly" })
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" id="label_pejabat">Pejabat Pembuat Komitmen</label>
                </div>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-dropdownlist id="program" placeholder="Pilih Program" popupHeight="200px" allowFiltering="true" sortOrder="@ViewBag.sortDropdown"
                                  query="@ViewBag.queryProgram" floatLabelType="Always">
                    <e-data-manager url="/ProgramMaster/ProgramMasterAll" adaptor="UrlAdaptor" crossDomain="true"></e-data-manager>
                    <e-dropdownlist-fields text="NamaSubkegiatan" value="IdProgram"></e-dropdownlist-fields>
                </ejs-dropdownlist>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-dropdownlist id="kegiatan" placeholder="Pilih Kegiatan" popupHeight="200px" allowFiltering="true" sortOrder="@ViewBag.sortDropdown"
                                  query="@ViewBag.queryKegiatan" floatLabelType="Always">
                    <e-data-manager url="/ProgramMaster/ProgramMasterAll" adaptor="UrlAdaptor" crossDomain="true"></e-data-manager>
                    <e-dropdownlist-fields text="NamaSubkegiatan" value="IdProgram"></e-dropdownlist-fields>
                </ejs-dropdownlist>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-dropdownlist id="subkegiatan" placeholder="Pilih Sub Kegiatan" popupHeight="200px" allowFiltering="true" sortOrder="@ViewBag.sortDropdown"
                                  query="@ViewBag.querySubKegiatan" floatLabelType="Always">
                    <e-data-manager url="/ProgramMaster/ProgramMasterAll" adaptor="UrlAdaptor" crossDomain="true"></e-data-manager>
                    <e-dropdownlist-fields text="NamaSubkegiatan" value="IdProgram"></e-dropdownlist-fields>
                </ejs-dropdownlist>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="outputidentifikasi" cssClass="e-input" placeholder="Output" floatLabelType="Always" ejs-for="@Model.outputidentifikasi"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-dropdownlist id="idbrgkerj" placeholder="Kode Rekening" popupHeight="200px" allowFiltering="true" filtering="onfilteringKodeRekening" sortOrder="@ViewBag.sortDropdown"
                                  query="@ViewBag.queryKodeRekening" floatLabelType="Always"
                                  headerTemplate="@Html.Raw("<table><tr><th class=\"e-text-center\" style=\"width: 200px;\">Kode Rekening</th><th class=\"e-text-center\" style=\"width: 125px;\">Nama Rekening</th></tr></table>")"
                                  itemTemplate="@Html.Raw("<table><tbody><tr><td class=\"e-text-center\" style=\"width: 200px;\">${KodeRekening}</td><td class=\"e-text-center\" style=\"width: 125px;\">${NamaSubRincian}</td></tr></tbody></table>")">
                    <e-data-manager url="/KodeRekeningMaster/KodeRekeningMasterAll" adaptor="UrlAdaptor" crossDomain="true"></e-data-manager>
                    <e-dropdownlist-fields text="NamaSubRincian" value="IdKodeRekening"></e-dropdownlist-fields>
                </ejs-dropdownlist>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="namabrgkerj" cssClass="e-input" placeholder="Nama/ Jenis" floatLabelType="Always" ejs-for="@Model.namabrgkerj"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="fungsi" cssClass="e-input" placeholder="Fungsi" floatLabelType="Always" ejs-for="@Model.fungsi"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="ukurankapasitas" cssClass="e-input" placeholder="Ukuran/ Kapasitas" floatLabelType="Always" ejs-for="@Model.ukurankapasitas"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="jumlahbarang" cssClass="e-input" placeholder="Jumlah" floatLabelType="Always" ejs-for="@Model.jumlahbarang"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="waktu" cssClass="e-input" placeholder="Waktu Pemanfaatan" floatLabelType="Always" ejs-for="@Model.waktu"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="pihak" cssClass="e-input" placeholder="Pihak" floatLabelType="Always" ejs-for="@Model.pihak"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="totalwaktu" cssClass="e-input" placeholder="Total Waktu" floatLabelType="Always" ejs-for="@Model.totalwaktu"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <label id="label_opd">e-Katalog</label>
                @Html.DropDownList("ekatalog", new SelectList(ViewBag.yatidak, "Value", "Text", null), "Pilih e-Katalog", new { @class = "custom-select" })
            </div>
            <div class="e-float-input e-control-wrapper">
                <label id="label_opd">Prioritas</label>
                @Html.DropDownList("prioritas", new SelectList(ViewBag.prioritas, "Value", "Text", null), "Pilih Prioritas", new { @class = "custom-select" })
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="perkiraanbiaya" cssClass="e-input" placeholder="Perkiraan Biaya" floatLabelType="Always" ejs-for="@Model.perkiraanbiaya"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="jumlahpegawai" cssClass="e-input" placeholder="Jumlah Pegawai" floatLabelType="Always" ejs-for="@Model.jumlahpegawai"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <label id="label_opd">Beban Tugas</label>
                @Html.DropDownList("bebantugas", new SelectList(ViewBag.prioritas, "Value", "Text", null), "Pilih Beban Tugas", new { @class = "custom-select" })
            </div>
            <div class="e-float-input e-control-wrapper">
                <label id="label_opd">Barang Tersedia</label>
                @Html.DropDownList("jumlahbarangtersedia", new SelectList(ViewBag.yatidak, "Value", "Text", null), "Pilih Ketersediaan", new { @class = "custom-select" })
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="jumlahbarangsejenis" cssClass="e-input" placeholder="Jumlah Sejenis" floatLabelType="Always" ejs-for="@Model.jumlahbarangsejenis"></ejs-textbox>
            </div>
            @*#region kondisilayak*@
            <div class="row" style="margin-bottom: 18px;margin-left: 0px;">
                <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                    <label class="e-float-text e-label-top" id="label_sumberDana">Kondisi</label>
                </div>
            </div>

            <div id="fieldsSumberDana">
                <input id="sumberdanaapbd" data-val="true" class="e-control e-textbox e-lib" type="text" role="textbox" hidden>
                <table id="tblKondisi" class="table table-hover mb-0 col-xs-12 col-sm-12 col-lg-12 col-md-12 e-float-input e-control-wrapper">
                    <thead>
                        <tr>
                            <th class="col-xs-4 col-sm-4 col-lg-4 col-md-4">Kondisi</th>
                            <th class="col-xs-12 col-sm-12 col-lg-12 col-md-12">Nilai</th>
                            <th class="col-xs-2 col-sm-2 col-lg-2 col-md-2">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var sumberdana in Model.sumberdanal)
                        {
                            <tr>
                                <td>@sumberdana.smbrdn</td>
                                <td>@sumberdana.nilai.ToString("n0")</td>
                                <td><button type="button" class="btn btn-icon rounded-circle btn-outline-primary" onclick="btnSumberDanaRemove(this)"><i class="feather icon-minus-circle"></i></button></td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>@Html.DropDownList("ddKondisi", new SelectList(ViewBag.Kelayakan, "Value", "Text", null), "Pilih Kondisi", new { @class = "custom-select" })</td>
                            <td><ejs-numerictextbox id="txtNilai" format="n0" min="0"></ejs-numerictextbox></td>
                            <td><button type="button" class="btn btn-icon rounded-circle btn-outline-primary" onclick="btnSumberDana()"><i class="feather icon-plus-circle"></i></button></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            @*#endregion kondisilayak*@
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="lokasi" cssClass="e-input" placeholder="Lokasi" floatLabelType="Always" ejs-for="@Model.lokasi"></ejs-textbox>
            </div>
            @*#region Sumber Dana*@
            <div class="row" style="margin-bottom: 18px;margin-left: 0px;">
                <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                    <label class="e-float-text e-label-top" id="label_sumberDana">Sumber Dana</label>
                </div>
            </div>

            <div id="fieldsSumberDana">
                <input id="sumberdanaapbd" data-val="true" class="e-control e-textbox e-lib" type="text" role="textbox" hidden>
                <table id="tblSumberDana" class="table table-hover mb-0 col-xs-12 col-sm-12 col-lg-12 col-md-12 e-float-input e-control-wrapper">
                    <thead>
                        <tr>
                            <th class="col-xs-4 col-sm-4 col-lg-4 col-md-4">Sumber Dana</th>
                            <th class="col-xs-12 col-sm-12 col-lg-12 col-md-12">Nilai</th>
                            <th class="col-xs-2 col-sm-2 col-lg-2 col-md-2">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var sumberdana in Model.sumberdanal)
                        {
                            <tr>
                                <td>@sumberdana.smbrdn</td>
                                <td>@sumberdana.nilai.ToString("n0")</td>
                                <td><button type="button" class="btn btn-icon rounded-circle btn-outline-primary" onclick="btnSumberDanaRemove(this)"><i class="feather icon-minus-circle"></i></button></td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>@Html.DropDownList("ddSmbrdn", new SelectList(ViewBag.SumberDana, "Value", "Text", null), "Pilih Sumber Dana", new { @class = "custom-select" })</td>
                            <td><ejs-numerictextbox id="txtNilai" format="n0" min="0"></ejs-numerictextbox></td>
                            <td><button type="button" class="btn btn-icon rounded-circle btn-outline-primary" onclick="btnSumberDana()"><i class="feather icon-plus-circle"></i></button></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            @*#endregion Sumber Dana*@
            <div class="e-float-input e-control-wrapper">
                <label id="label_opd">Kemudahan</label>
                @Html.DropDownList("kemudahan", new SelectList(ViewBag.yatidak, "Value", "Text", null), "Pilih Kemudahan", new { @class = "custom-select" })
            </div>
            <div class="e-float-input e-control-wrapper">
                <label id="label_opd">Produsen</label>
                @Html.DropDownList("produsen", new SelectList(ViewBag.Banyak, "Value", "Text", null), "Pilih Produsen", new { @class = "custom-select" })
            </div>
            <div class="e-float-input e-control-wrapper">
                <label id="label_opd">Kriteria</label>
                @Html.DropDownList("kriteria", new SelectList(ViewBag.Kriteria, "Value", "Text", null), "Pilih Kriteria", new { @class = "custom-select" })
            </div>
            <div class="e-float-input e-control-wrapper">
                <label id="label_opd">TKDN</label>
                @Html.DropDownList("tkdn", new SelectList(ViewBag.yatidak, "Value", "Text", null), "Pilih TKDN", new { @class = "custom-select" })
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="nilaitkdn" cssClass="e-input" placeholder="Nilai TKDN" floatLabelType="Always" ejs-for="@Model.nilaitkdn"></ejs-textbox>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="pengiriman" cssClass="e-input" placeholder="Pengiriman" floatLabelType="Always" ejs-for="@Model.pengiriman"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="pengakutan" cssClass="e-input" placeholder="Pengangkutan" floatLabelType="Always" ejs-for="@Model.pengakutan"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="pemasangan" cssClass="e-input" placeholder="Pemasangan" floatLabelType="Always" ejs-for="@Model.pemasangan"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="penimbunan" cssClass="e-input" placeholder="Penimbunan" floatLabelType="Always" ejs-for="@Model.penimbunan"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <label id="label_opd">Cara Pengoperasian</label>
                @Html.DropDownList("pengunaan", new SelectList(ViewBag.Otomatis, "Value", "Text", null), "Pilih Pengoperasian", new { @class = "custom-select" })
            </div>
            <div class="e-float-input e-control-wrapper">
                <label id="label_opd">Kebutuhan Pelatihan</label>
                @Html.DropDownList("kebutuhanpelatihan", new SelectList(ViewBag.yatidak, "Value", "Text", null), "Pilih Kebutuhan", new { @class = "custom-select" })
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="aspek" cssClass="e-input" placeholder="Aspek Pengadaan" floatLabelType="Always" ejs-for="@Model.aspek"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <label id="label_opd">Terdapat Pengadaan Sejenis</label>
                @Html.DropDownList("barangsejenis", new SelectList(ViewBag.yatidak, "Value", "Text", null), "Pilih Pengadaan", new { @class = "custom-select" })
            </div>
            <div class="e-float-input e-control-wrapper">
                <label id="label_opd">Kondsolidasi</label>
                @Html.DropDownList("indikasikonsolidasi", new SelectList(ViewBag.yatidak, "Value", "Text", null), "Pilih Konsolidasi", new { @class = "custom-select" })
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="target" cssClass="e-input" placeholder="Target/ Sasaran" floatLabelType="Always" ejs-for="@Model.target"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="studikelayakan" cssClass="e-input" placeholder="Studi Kelayakan" floatLabelType="Always" ejs-for="@Model.studikelayakan"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="ded" cssClass="e-input" placeholder="DED" floatLabelType="Always" ejs-for="@Model.ded"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="komplektifitas" cssClass="e-input" placeholder="Kompleksitas" floatLabelType="Always" ejs-for="@Model.komplektifitas"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="tahunpelaksanaan" cssClass="e-input" placeholder="Dilaksanakan dengan Kontrak Tahun Jamak" floatLabelType="Always" ejs-for="@Model.tahunpelaksanaan"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="jumlahtahunpelaksanaan" cssClass="e-input" placeholder="Jumlah Tahun Pelaksanaan" floatLabelType="Always" ejs-for="@Model.jumlahtahunpelaksanaan"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="suratijin" cssClass="e-input" placeholder="Surat Ijin" floatLabelType="Always" ejs-for="@Model.suratijin"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="nomorsuratijin" cssClass="e-input" placeholder="Nomor Surat Ijin" floatLabelType="Always" ejs-for="@Model.nomorsuratijin"></ejs-textbox>
            </div>
            @*<div class="e-float-input e-control-wrapper">
                <ejs-textbox id="barangmaterialdalam" cssClass="e-input" placeholder="Barang Material Dalam Negeri" floatLabelType="Always" ejs-for="@Model.barangmaterialdalam"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="barangmaterialluar" cssClass="e-input" placeholder="Barang Material Luar Negeri" floatLabelType="Always" ejs-for="@Model.barangmaterialluar"></ejs-textbox>
            </div>*@
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="usahakecil" cssClass="e-input" placeholder="Dilaksanakan Usaha Kecil" floatLabelType="Always" ejs-for="@Model.usahakecil"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="pembebasanlahan" cssClass="e-input" placeholder="Pembebasan Lahan" floatLabelType="Always" ejs-for="@Model.pembebasanlahan"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="luaspembebasanlahan" cssClass="e-input" placeholder="Luas Pembebasan Lahan" floatLabelType="Always" ejs-for="@Model.luaspembebasanlahan"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="pemanfaatantanah" cssClass="e-input" placeholder="Pemanfaatan Tanah" floatLabelType="Always" ejs-for="@Model.pemanfaatantanah"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="lamawaktu" cssClass="e-input" placeholder="Lama Waktu" floatLabelType="Always" ejs-for="@Model.lamawaktu"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="administrasipembayaran" cssClass="e-input" placeholder="Administrasi Pembayaran Ganti Rugi" floatLabelType="Always" ejs-for="@Model.administrasipembayaran"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="terdapatpengadaan" cssClass="e-input" placeholder="Terdapat Pengadaan" floatLabelType="Always" ejs-for="@Model.terdapatpengadaan"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="badanusaha" cssClass="e-input" placeholder="Badan Usaha" floatLabelType="Always" ejs-for="@Model.badanusaha"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="targetsasaran" cssClass="e-input" placeholder="Target Sasaran" floatLabelType="Always" ejs-for="@Model.targetsasaran"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="manfaat" cssClass="e-input" placeholder="Manfaat" floatLabelType="Always" ejs-for="@Model.manfaat"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="kuantitas" cssClass="e-input" placeholder="Kuantitas" floatLabelType="Always" ejs-for="@Model.kuantitas"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="spesifikasi" cssClass="e-input" placeholder="Spesifikasi" floatLabelType="Always" ejs-for="@Model.spesifikasi"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="waktupenggunaan" cssClass="e-input" placeholder="Waktu Penggunaan" floatLabelType="Always" ejs-for="@Model.waktupenggunaan"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="ketersediaanusaha" cssClass="e-input" placeholder="Ketersediaan Pelaku Usaha" floatLabelType="Always" ejs-for="@Model.ketersediaanusaha"></ejs-textbox>
                
            </div>
        </div>
    </div>
</div>

<ejs-scripts></ejs-scripts>