@model TasikmalayaKota.Simpatik.Web.Services.tsIdentifikasi.Models.tsIdentifikasiModel
@{
    ViewData["Title"] = ViewBag.Title;
}

<div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <div class="e-float-input e-control-wrapper e-input e-valid-input">
                    @Html.TextBoxFor(x => Model.opd, new { @class = "e-control e-textbox e-lib", @readonly = "readonly" })
                    @*@Html.TextBoxFor(x => Model.jeniskebutuhan, new { @class = "e-control e-textbox e-lib", @readonly = "readonly", @hidden = "hidden" })*@
                    @*<input id="paket" data-val="true" class="e-control e-textbox e-lib" type="text" role="textbox" hidden>*@
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" id="label_opd">OPD</label>
                </div>
            </div>
            <div class="e-float-input e-control-wrapper" hidden>
                <ejs-numerictextbox id="barangmaterial" format="n0" min="0" value="0"></ejs-numerictextbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <div class="e-float-input e-control-wrapper e-input e-valid-input">
                    @Html.TextBoxFor(x => Model.pejabat, new { @class = "e-control e-textbox e-lib", @readonly = "readonly" })
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" id="label_pejabat">Pejabat Pembuat Komitmen</label>
                </div>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-dropdownlist id="program" placeholder="Pilih Program" popupHeight="200px" allowFiltering="true" sortOrder="@ViewBag.sortDropdown"
                                  query="@ViewBag.queryProgram" floatLabelType="Always" change="onchangeKegiatan">
                    <e-data-manager url="/ProgramMaster/ProgramMasterAll" adaptor="UrlAdaptor" crossDomain="true"></e-data-manager>
                    <e-dropdownlist-fields text="NamaSubkegiatan" value="IdProgram"></e-dropdownlist-fields>
                </ejs-dropdownlist>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-dropdownlist id="kegiatan" placeholder="Pilih Kegiatan" popupHeight="200px" allowFiltering="true" sortOrder="@ViewBag.sortDropdown"
                                  query="@ViewBag.queryKegiatan" floatLabelType="Always" enabled="false" change="onchangeSubKegiatan">
                    <e-data-manager url="/ProgramMaster/ProgramMasterAll" adaptor="UrlAdaptor" crossDomain="true"></e-data-manager>
                    <e-dropdownlist-fields text="NamaSubkegiatan" value="IdProgram"></e-dropdownlist-fields>
                </ejs-dropdownlist>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-dropdownlist id="subkegiatan" placeholder="Pilih Sub Kegiatan" popupHeight="200px" allowFiltering="true" sortOrder="@ViewBag.sortDropdown"
                                  query="@ViewBag.querySubKegiatan" floatLabelType="Always" enabled="false">
                    <e-data-manager url="/ProgramMaster/ProgramMasterAll" adaptor="UrlAdaptor" crossDomain="true"></e-data-manager>
                    <e-dropdownlist-fields text="NamaSubkegiatan" value="IdProgram"></e-dropdownlist-fields>
                </ejs-dropdownlist>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="outputidentifikasi" cssClass="e-input" placeholder="Output" floatLabelType="Always" ejs-for="@Model.outputidentifikasi"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-dropdownlist id="idbrgkerj" placeholder="Kode Rekening" popupHeight="200px" allowFiltering="true" filtering="onfilteringKodeRekening" sortOrder="@ViewBag.sortDropdown"
                                  query="@ViewBag.queryKodeRekening" floatLabelType="Always"
                                  headerTemplate="@Html.Raw("<table><tr><th class=\"e-text-center\" style=\"width: 200px;\">Kode Rekening</th><th class=\"e-text-center\" style=\"width: 125px;\">Nama Rekening</th></tr></table>")"
                                  itemTemplate="@Html.Raw("<table><tbody><tr><td class=\"e-text-center\" style=\"width: 200px;\">${KodeRekening}</td><td class=\"e-text-center\" style=\"width: 125px;\">${NamaSubRincian}</td></tr></tbody></table>")">
                    <e-data-manager url="/KodeRekeningMaster/KodeRekeningMasterAll" adaptor="UrlAdaptor" crossDomain="true"></e-data-manager>
                    <e-dropdownlist-fields text="NamaSubRincian" value="IdKodeRekening"></e-dropdownlist-fields>
                </ejs-dropdownlist>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="namabrgkerj" cssClass="e-input" placeholder="Nama/Jenis Barang" floatLabelType="Always" ejs-for="@Model.namabrgkerj"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="fungsi" cssClass="e-input" placeholder="Fungsi/ Kegunaan" floatLabelType="Always" ejs-for="@Model.fungsi"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="ukurankapasitas" cssClass="e-input" placeholder="Ukuran/ Kapasitas" floatLabelType="Always" ejs-for="@Model.ukurankapasitas"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="jumlahbarang" cssClass="e-input" placeholder="Jumlah Barang yang diperlukan" floatLabelType="Always" ejs-for="@Model.jumlahbarang"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="waktu" cssClass="e-input" placeholder="Waktu Pemanfaatan Barang" floatLabelType="Always" ejs-for="@Model.waktu"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="pihak" cssClass="e-input" placeholder="Pihak yang akan menggunakan" floatLabelType="Always" ejs-for="@Model.pihak"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="totalwaktu" cssClass="e-input" placeholder="Total Perkiraan Waktu Pengadaan Barang" floatLabelType="Always" ejs-for="@Model.totalwaktu"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-combobox id="ekatalog" dataSource="@ViewBag.yatidak" cssClass="e-input" placeholder="Terdapat di e-Katalog LKPP" floatLabelType="Always" ejs-for="@Model.ekatalog">
                    <e-combobox-fields text="Text" value="Value"></e-combobox-fields>
                </ejs-combobox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-combobox id="prioritas" dataSource="@ViewBag.prioritas" cssClass="e-input" placeholder="Tingkat Prioritas Kebutuhan" floatLabelType="Always" ejs-for="@Model.prioritas">
                    <e-combobox-fields text="Text" value="Value"></e-combobox-fields>
                </ejs-combobox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-numerictextbox id="perkiraanbiaya" cssClass="e-input" placeholder="Perkiraan Biaya" floatLabelType="Always" ejs-for="@Model.perkiraanbiaya" format="n0" min="0"></ejs-numerictextbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="jumlahpegawai" cssClass="e-input" placeholder="Jumlah Pegawai dalam Unit Kerja" floatLabelType="Always" ejs-for="@Model.jumlahpegawai"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-combobox id="bebantugas" dataSource="@ViewBag.prioritas" cssClass="e-input" placeholder="Tingkat Beban Tugas dan Tanggungjawab pegawai" floatLabelType="Always" ejs-for="@Model.bebantugas">
                    <e-combobox-fields text="Text" value="Value"></e-combobox-fields>
                </ejs-combobox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-combobox id="jumlahbarangtersedia" dataSource="@ViewBag.yatidak" cssClass="e-input" placeholder="Jumlah Barang yang telah tersedia dapat memenuhi kebutuhan pada unit kerja" floatLabelType="Always" ejs-for="@Model.jumlahbarangtersedia">
                    <e-combobox-fields text="Text" value="Value"></e-combobox-fields>
                </ejs-combobox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="jumlahbarangsejenis" cssClass="e-input" placeholder="Jumlah Barang Sejenis yang telah tersedia" floatLabelType="Always" ejs-for="@Model.jumlahbarangsejenis"></ejs-textbox>
            </div>
        </div>
        <div class="form-group col-md-6">
            @*#region kondisilayak*@
            <div class="row" style="margin-bottom: 18px;margin-left: 0px;">
                <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                    <label class="e-float-text e-label-top" id="label_sumberDana">Kondisi Barang</label>
                </div>
            </div>

            <div id="fieldsKondisi">
                <input id="txtkondisilayak" data-val="true" class="e-control e-textbox e-lib" type="text" role="textbox" value="@Model.kondisilayak" hidden>
                <table id="tblKondisi" class="table table-hover mb-0 col-xs-12 col-sm-12 col-lg-12 col-md-12 e-float-input e-control-wrapper">
                    <thead>
                        <tr>
                            <th class="col-xs-4 col-sm-4 col-lg-4 col-md-4">Kondisi</th>
                            <th class="col-xs-12 col-sm-12 col-lg-12 col-md-12">Nilai</th>
                            <th class="col-xs-2 col-sm-2 col-lg-2 col-md-2">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var kondisi in Model.kondisil)
                        {
                            <tr>
                                <td>@kondisi.kondisi</td>
                                <td>@kondisi.nilai.ToString("n0")</td>
                                <td><button type="button" class="btn btn-icon rounded-circle btn-outline-primary" onclick="btnKondisiRemove(this)"><i class="feather icon-minus-circle"></i></button></td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>@Html.DropDownList("ddKondisi", new SelectList(ViewBag.Kelayakan, "Value", "Text", null), "Pilih Kondisi", new { @class = "custom-select" })</td>
                            <td><ejs-numerictextbox id="kondisilayak" format="n0" min="0" value="0"></ejs-numerictextbox></td>
                            <td><button type="button" class="btn btn-icon rounded-circle btn-outline-primary" onclick="btnKondisi()"><i class="feather icon-plus-circle"></i></button></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            @*#endregion kondisilayak*@
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="lokasi" cssClass="e-input" placeholder="Lokasi" floatLabelType="Always" ejs-for="@Model.lokasi"></ejs-textbox>
            </div>
            @*#region Sumber Dana*@
            <div class="row" style="margin-bottom: 18px;margin-left: 0px;">
                <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                    <label class="e-float-text e-label-top" id="label_sumberDana">Sumber Dana Pengadaan</label>
                </div>
            </div>

            <div id="fieldsSumberDana">
                <input id="txtsumberdana" data-val="true" class="e-control e-textbox e-lib" type="text" role="textbox" value="@Model.sumberdana" hidden>
                <table id="tblSumberDana" class="table table-hover mb-0 col-xs-12 col-sm-12 col-lg-12 col-md-12 e-float-input e-control-wrapper">
                    <thead>
                        <tr>
                            <th class="col-xs-4 col-sm-4 col-lg-4 col-md-4">Sumber Dana</th>
                            <th class="col-xs-12 col-sm-12 col-lg-12 col-md-12">Nilai</th>
                            <th class="col-xs-2 col-sm-2 col-lg-2 col-md-2">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var sumberdana in Model.sumberdanal)
                        {
                            <tr>
                                <td>@sumberdana.smbrdn</td>
                                <td>@sumberdana.nilai.ToString("n0")</td>
                                <td><button type="button" class="btn btn-icon rounded-circle btn-outline-primary" onclick="btnSumberDanaRemove(this)"><i class="feather icon-minus-circle"></i></button></td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>@Html.DropDownList("ddSmbrdn", new SelectList(ViewBag.SumberDana, "Value", "Text", null), "Pilih Sumber Dana", new { @class = "custom-select" })</td>
                            <td><ejs-numerictextbox id="sumberdana" format="n0" min="0" value="0"></ejs-numerictextbox></td>
                            <td><button type="button" class="btn btn-icon rounded-circle btn-outline-primary" onclick="btnSumberDana()"><i class="feather icon-plus-circle"></i></button></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            @*#endregion Sumber Dana*@
            <div class="e-float-input e-control-wrapper">
                <ejs-combobox id="kemudahan" dataSource="@ViewBag.yatidak" cssClass="e-input" placeholder="Kemudahan Memperoleh Barang di Pasaran Indonesia" floatLabelType="Always" ejs-for="@Model.kemudahan">
                    <e-combobox-fields text="Text" value="Value"></e-combobox-fields>
                </ejs-combobox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-combobox id="produsen" dataSource="@ViewBag.banyakterbatas" cssClass="e-input" placeholder="Terdapat Produsen usaha yang dinilai mampu" floatLabelType="Always" ejs-for="@Model.produsen">
                    <e-combobox-fields text="Text" value="Value"></e-combobox-fields>
                </ejs-combobox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-combobox id="kriteria" dataSource="@ViewBag.yatidak" cssClass="e-input" placeholder="Produk Dalam Negeri" floatLabelType="Always" ejs-for="@Model.kriteria">
                    <e-combobox-fields text="Text" value="Value"></e-combobox-fields>
                </ejs-combobox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-combobox id="tkdn" dataSource="@ViewBag.yatidak" cssClass="e-input" placeholder="Persyaratan Barang memiliki nilai TKDN tertentu" floatLabelType="Always" ejs-for="@Model.tkdn">
                    <e-combobox-fields text="Text" value="Value"></e-combobox-fields>
                </ejs-combobox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="nilaitkdn" cssClass="e-input" placeholder="Paing sedikit TKDN (%)" floatLabelType="Always" ejs-for="@Model.nilaitkdn"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="pengiriman" cssClass="e-input" placeholder="Cara Pengiriman" floatLabelType="Always" ejs-for="@Model.pengiriman"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="pengakutan" cssClass="e-input" placeholder="Cara Pengangkutan" floatLabelType="Always" ejs-for="@Model.pengakutan"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="pemasangan" cssClass="e-input" placeholder="Cara Pemasangan" floatLabelType="Always" ejs-for="@Model.pemasangan"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="penimbunan" cssClass="e-input" placeholder="Cara Penimbunan" floatLabelType="Always" ejs-for="@Model.penimbunan"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-combobox id="pengunaan" dataSource="@ViewBag.pengoperasian" cssClass="e-input" placeholder="Cara Pengoperasian" floatLabelType="Always" ejs-for="@Model.pengunaan">
                    <e-combobox-fields text="Text" value="Value"></e-combobox-fields>
                </ejs-combobox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-combobox id="kebutuhanpelatihan" dataSource="@ViewBag.yatidak" cssClass="e-input" placeholder="Kebutuhan Pelatihan untuk pengoperasian" floatLabelType="Always" ejs-for="@Model.kebutuhanpelatihan">
                    <e-combobox-fields text="Text" value="Value"></e-combobox-fields>
                </ejs-combobox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="aspek" cssClass="e-input" placeholder="Aspek Pengadaan Berkelanjutan" floatLabelType="Always" ejs-for="@Model.aspek"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-combobox id="barangsejenis" dataSource="@ViewBag.yatidak" cssClass="e-input" placeholder="Terdapat Pengadaan Sejenis pada kegiatan lain" floatLabelType="Always" ejs-for="@Model.barangsejenis">
                    <e-combobox-fields text="Text" value="Value"></e-combobox-fields>
                </ejs-combobox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-combobox id="indikasikonsolidasi" dataSource="@ViewBag.rekomendasi" cssClass="e-input" placeholder="Indikasi Kondsolidasi atas pengadaan barang" floatLabelType="Always" ejs-for="@Model.indikasikonsolidasi">
                    <e-combobox-fields text="Text" value="Value"></e-combobox-fields>
                </ejs-combobox>
            </div>
        </div>
    </div>
</div>

<ejs-scripts></ejs-scripts>