@model TasikmalayaKota.Simpatik.Web.Services.tsIdentifikasi.Models.tsIdentifikasiModel
@{
    ViewData["Title"] = ViewBag.Title;
}

<div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <div class="e-float-input e-control-wrapper e-input e-valid-input">
                    @Html.TextBoxFor(x => Model.opd, new { @class = "e-control e-textbox e-lib", @readonly = "readonly" })
                    @*@Html.TextBoxFor(x => Model.jeniskebutuhan, new { @class = "e-control e-textbox e-lib", @readonly = "readonly", @hidden = "hidden" })*@
                    @*<input id="paket" data-val="true" class="e-control e-textbox e-lib" type="text" role="textbox" hidden>*@
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" id="label_opd">OPD</label>
                </div>
            </div>
            <div class="e-float-input e-control-wrapper" hidden>
                <ejs-numerictextbox id="kondisilayak" format="n0" min="0" value="0"></ejs-numerictextbox>
                <ejs-numerictextbox id="barangmaterial" format="n0" min="0" value="0"></ejs-numerictextbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <div class="e-float-input e-control-wrapper e-input e-valid-input">
                    @Html.TextBoxFor(x => Model.pejabat, new { @class = "e-control e-textbox e-lib", @readonly = "readonly" })
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" id="label_pejabat">Pejabat Pembuat Komitmen</label>
                </div>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-dropdownlist id="program" placeholder="Pilih Program" popupHeight="200px" allowFiltering="true" sortOrder="@ViewBag.sortDropdown"
                                  query="@ViewBag.queryProgram" floatLabelType="Always" change="onchangeKegiatan" enabled="@ViewBag.truefalse">
                    <e-data-manager url="/ProgramMaster/ProgramMasterAll" adaptor="UrlAdaptor" crossDomain="true"></e-data-manager>
                    <e-dropdownlist-fields text="NamaSubkegiatan" value="IdProgram"></e-dropdownlist-fields>
                </ejs-dropdownlist>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-dropdownlist id="kegiatan" placeholder="Pilih Kegiatan" popupHeight="200px" allowFiltering="true" sortOrder="@ViewBag.sortDropdown"
                                  query="@ViewBag.queryKegiatan" floatLabelType="Always" enabled="false" change="onchangeSubKegiatan">
                    <e-data-manager url="/ProgramMaster/ProgramMasterAll" adaptor="UrlAdaptor" crossDomain="true"></e-data-manager>
                    <e-dropdownlist-fields text="NamaSubkegiatan" value="IdProgram"></e-dropdownlist-fields>
                </ejs-dropdownlist>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-dropdownlist id="subkegiatan" placeholder="Pilih Sub Kegiatan" popupHeight="200px" allowFiltering="true" sortOrder="@ViewBag.sortDropdown"
                                  query="@ViewBag.querySubKegiatan" floatLabelType="Always" enabled="false">
                    <e-data-manager url="/ProgramMaster/ProgramMasterAll" adaptor="UrlAdaptor" crossDomain="true"></e-data-manager>
                    <e-dropdownlist-fields text="NamaSubkegiatan" value="IdProgram"></e-dropdownlist-fields>
                </ejs-dropdownlist>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="outputidentifikasi" cssClass="e-input" placeholder="Output" floatLabelType="Always" ejs-for="@Model.outputidentifikasi" enabled="@ViewBag.truefalse"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-dropdownlist id="idbrgkerj" placeholder="Kode Rekening" popupHeight="200px" allowFiltering="true" filtering="onfilteringKodeRekening" sortOrder="@ViewBag.sortDropdown"
                                  query="@ViewBag.queryKodeRekening" floatLabelType="Always" enabled="@ViewBag.truefalse"
                                  headerTemplate="@Html.Raw("<table><tr><th class=\"e-text-center\" style=\"width: 200px;\">Kode Rekening</th><th class=\"e-text-center\" style=\"width: 125px;\">Nama Rekening</th></tr></table>")"
                                  itemTemplate="@Html.Raw("<table><tbody><tr><td class=\"e-text-center\" style=\"width: 200px;\">${KodeRekening}</td><td class=\"e-text-center\" style=\"width: 125px;\">${NamaSubRincian}</td></tr></tbody></table>")">
                    <e-data-manager url="/KodeRekeningMaster/KodeRekeningMasterAll" adaptor="UrlAdaptor" crossDomain="true"></e-data-manager>
                    <e-dropdownlist-fields text="NamaSubRincian" value="IdKodeRekening"></e-dropdownlist-fields>
                </ejs-dropdownlist>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="namabrgkerj" cssClass="e-input" placeholder="Nama/Jenis Jasa Lainnya" floatLabelType="Always" ejs-for="@Model.namabrgkerj" enabled="@ViewBag.truefalse"></ejs-textbox>
            </div>
            @*#region Sumber Dana*@
            <div class="row" style="margin-bottom: 18px;margin-left: 0px;">
                <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                    <label class="e-float-text e-label-top" id="label_sumberDana">Sumber Dana Pengadaan</label>
                </div>
            </div>

            <div id="fieldsSumberDana">
                <input id="txtsumberdana" data-val="true" class="e-control e-textbox e-lib" type="text" role="textbox" value="@Model.sumberdana" hidden>
                <table id="tblSumberDana" class="table table-hover mb-0 col-xs-12 col-sm-12 col-lg-12 col-md-12 e-float-input e-control-wrapper">
                    <thead>
                        <tr>
                            <th class="col-xs-4 col-sm-4 col-lg-4 col-md-4">Sumber Dana</th>
                            <th class="col-xs-12 col-sm-12 col-lg-12 col-md-12">Nilai</th>
                            @if (ViewBag.truefalse)
                            {
                                <th class="col-xs-2 col-sm-2 col-lg-2 col-md-2">Aksi</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var sumberdana in Model.sumberdanal)
                        {
                            <tr>
                                <td>@sumberdana.smbrdn</td>
                                <td>@sumberdana.nilai.ToString("n0")</td>
                                @if (ViewBag.truefalse)
                                {
                                    <td><button type="button" class="btn btn-icon rounded-circle btn-outline-primary" onclick="btnSumberDanaRemove(this)"><i class="feather icon-minus-circle"></i></button></td>
                                }
                            </tr>
                        }
                    </tbody>
                    @if (ViewBag.truefalse)
                    {
                        <tfoot>
                            <tr>
                                <td>@Html.DropDownList("ddSmbrdn", new SelectList(ViewBag.SumberDana, "Value", "Text", null), "Pilih Sumber Dana", new { @class = "custom-select" })</td>
                                <td><ejs-numerictextbox id="sumberdana" format="n0" min="0" value="0" width="200"></ejs-numerictextbox></td>
                                <td><button type="button" class="btn btn-icon rounded-circle btn-outline-primary" onclick="btnSumberDana()"><i class="feather icon-plus-circle"></i></button></td>
                            </tr>
                        </tfoot>
                    }
                </table>
            </div>
            @*#endregion Sumber Dana*@
        </div>
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="badanusaha" cssClass="e-input" placeholder="Badan Usaha" floatLabelType="Always" ejs-for="@Model.badanusaha" enabled="@ViewBag.truefalse"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="targetsasaran" cssClass="e-input" placeholder="Target Sasaran Yang Diharapkan" floatLabelType="Always" ejs-for="@Model.targetsasaran" enabled="@ViewBag.truefalse"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="manfaat" cssClass="e-input" placeholder="Manfaat" floatLabelType="Always" ejs-for="@Model.manfaat" enabled="@ViewBag.truefalse"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="kuantitas" cssClass="e-input" placeholder="Kuantitas" floatLabelType="Always" ejs-for="@Model.kuantitas" enabled="@ViewBag.truefalse"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="spesifikasi" cssClass="e-input" placeholder="Spesifikasi" floatLabelType="Always" ejs-for="@Model.spesifikasi" enabled="@ViewBag.truefalse"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="waktupenggunaan" cssClass="e-input" placeholder="Waktu Penggunaan" floatLabelType="Always" ejs-for="@Model.waktupenggunaan" enabled="@ViewBag.truefalse"></ejs-textbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-numerictextbox id="perkiraanbiaya" cssClass="e-input" placeholder="Perkiraan Biaya" floatLabelType="Always" ejs-for="@Model.perkiraanbiaya" format="n0" min="0" enabled="@ViewBag.truefalse"></ejs-numerictextbox>
            </div>
            <div class="e-float-input e-control-wrapper">
                <ejs-combobox id="ketersediaanusaha" dataSource="@ViewBag.banyakterbatas" cssClass="e-input" placeholder="Ketersediaan Pelaku Usaha" floatLabelType="Always" ejs-for="@Model.ketersediaanusaha" enabled="@ViewBag.truefalse">
                    <e-combobox-fields text="Text" value="Value"></e-combobox-fields>
                </ejs-combobox>
            </div>
        </div>
    </div>
</div>

<ejs-scripts></ejs-scripts>