@{
    ViewData["Title"] = ViewBag.Title;
}
@Html.AntiForgeryToken()
@Html.ValidationSummary(true)

<ejs-toast id="toast_default" created="createdToasObj">
    <e-toast-position X="Right"></e-toast-position>
</ejs-toast>

<ejs-grid id="Grid" actionComplete="CompleteAction" actionBegin="BeginAction" height="490" allowPaging="true" allowResizing="true" allowSorting="true" allowReordering="true" allowGrouping="false"
          toolbar="@(new List<string>() { "Search", "Add", "Edit", "Delete","Update","Cancel" , "ExcelExport" ,"PdfExport" })" allowFiltering="true" allowSelection="true"
          created="createdGrid" allowExcelExport="true" allowPdfExport="true" toolbarClick="toolbarAction" query="@ViewBag.queryIdentifikasi">
    <e-grid-pagesettings pageCount="5" pageSize="12" pageSizes="true"></e-grid-pagesettings>
    <e-grid-filterSettings type="Menu"></e-grid-filterSettings>
    <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Dialog" template='#templatedialog' showDeleteConfirmDialog="true"></e-grid-editSettings>
    <e-grid-selectionsettings type="Single"></e-grid-selectionsettings>
    <e-grid-columns>
        <e-grid-column field="ididetifikasi" headerText="ididetifikasi" isPrimaryKey="true" isIdentity="true" visible="false"></e-grid-column>
        <e-grid-column field="namabrgkerj" headerText="Nama Barang" width="200"></e-grid-column>
        <e-grid-column field="jumlahbarang" headerText="Jumlah Barang" width="200"></e-grid-column>
    </e-grid-columns>
</ejs-grid>

@section SectionControls{
    <script id='templatedialog' type="text/x-template">
        <div id="Tempdialog">
        </div>
    </script>

    <script type="text/javascript">
        var toastObj;
        var flag = true;
        var dataStrngNew;

        function createdToasObj() {
            toastObj = this;
        }

        function onfilteringOPD(e) {
            var OPDObj = document.getElementById("ListIdOpdUser").ej2_instances[0];
            if (e.text == '' && e.text.length < 3) {
                e.updateData(OPDObj.dataSource);
            }
            let query = new ej.data.Query().select(['NamaOpd', 'IdOpd']).take(6);
            query = (e.text !== '' && e.text.length >= 3) ? query.where('NamaOpd', 'contains', e.text, true) : query;
            e.updateData(OPDObj.dataSource, query);
        }

        function onfilteringKodeRekening(e) {
            var SelectObj = document.getElementById("idbrgkerj").ej2_instances[0];
            if (e.text == '' && e.text.length < 3) {
                e.updateData(SelectObj.dataSource);
            }

            let query = new ej.data.Query().select(['NamaSubRincian', 'IdKodeRekening']).take(6).addParams('IdPosisi', 6);
            query = (e.text !== '' && e.text.length >= 1) ? query.where(new ej.data.Predicate('NamaSubRincian', 'contains', e.text, true).or('KodeSubRincian', 'contains', e.text, true)) : query;

            e.updateData(SelectObj.dataSource, query);
        }

        function BeginAction(args) {
            if (args.requestType === "save") {
                // #region Sumber Dana
                var sumberdanas = new Array();
                $("#tblSumberDana TBODY TR").each(function () {
                    var row = $(this);
                    var sumberdana = {};
                    sumberdana.nilai = row.find("TD").eq(1).html().replace(/\./g, "");
                    sumberdana.smbrdn = row.find("TD").eq(0).html();
                    sumberdanas.push(sumberdana);
                });
                $("#txtsumberdana").val(sumberdanas.length != 0 ? JSON.stringify(sumberdanas) : "[0]");
                // #endregion Sumber Dana
            }
        }

        function CompleteAction(args) {
            var grid = document.querySelector('#Grid').ej2_instances[0];

            if (args.requestType === 'beginEdit' || args.requestType === 'add') {
                var dialog = args.dialog;
                dialog.height = 650;
                // change the header of the dialog
                dialog.header = args.requestType === 'beginEdit' ? 'Edit Identifikasi Kebutuhan Jasa Lainnya' : 'New Identifikasi Kebutuhan Jasa Lainnya';
                args.form.ej2_instances[0].addRules('program', { required: [true, 'Silahkan Pilih Program'] });
                args.form.ej2_instances[0].addRules('kegiatan', { required: [true, 'Silahkan Pilih Kegiatan'] });
                args.form.ej2_instances[0].addRules('subkegiatan', { required: [true, 'Silahkan Pilih Sub Kegiatan'] });
                args.form.ej2_instances[0].addRules('idbrgkerj', { required: [true, 'Silahkan Pilih Kode Rekening'] });
                args.form.ej2_instances[0].addRules('namabrgkerj', { required: [true, 'Silahkan Isi Nama Barang'], minLength: [3, 'Nama Barang Minimal 3 huruf'] });

                let spinner = ej.popups.createSpinner({ target: args.dialog.element });
                ej.popups.showSpinner(args.dialog.element);
                var ajax = new ej.base.Ajax({
                    url: "@Url.Action("IdentifikasiLainnyaTemplate", "Identifikasi")", //render the partial view
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({ value: args.rowData })
                });
                ajax.send().then(function (data) {
                    appendElement(data, args.form); //Render the edit form with selected record
                    args.form.elements.namedItem('namabrgkerj').focus();
                    if (typeof args.rowData['program'] != 'undefined') {
                        var dropObject = document.getElementById("program").ej2_instances[0];
                        dropObject.value = args.rowData['program'];
                        dropObject.text = args.rowData['namaprogram'];
                    }
                    if (typeof args.rowData['kegiatan'] != 'undefined') {
                        var dropObject = document.getElementById("kegiatan").ej2_instances[0];
                        dropObject.value = args.rowData['kegiatan'];
                        dropObject.text = args.rowData['namakegiatan'];
                    }
                    if (typeof args.rowData['subkegiatan'] != 'undefined') {
                        var dropObject = document.getElementById("subkegiatan").ej2_instances[0];
                        dropObject.value = args.rowData['subkegiatan'];
                        dropObject.text = args.rowData['namasubkegiatan'];
                    }
                    if (typeof args.rowData['idbrgkerj'] != 'undefined') {
                        var dropObject = document.getElementById("idbrgkerj").ej2_instances[0];
                        dropObject.value = args.rowData['idbrgkerj'];
                    }
                    ej.popups.hideSpinner(args.dialog.element);
                }).catch(function (xhr) {
                    ej.popups.hideSpinner(args.dialog.element);
                });
            }
            else if (args.requestType === 'save') {
                grid.refresh();
                grid.closeEdit();
            }
        }

        function onchangeKegiatan() {
            var ParentObj = document.getElementById('program').ej2_instances[0];
            var SelectObj = document.getElementById('kegiatan').ej2_instances[0];
            SelectObj.enabled = true;
            var SelectObjQuery = new ej.data.Query().where('IdParent', 'equal', ParentObj.value).addParams('IdPosisi', 2);
            SelectObj.query = SelectObjQuery;
            SelectObj.text = null;
            SelectObj.dataBind();
        }

        function onchangeSubKegiatan() {
            var ParentObj = document.getElementById('kegiatan').ej2_instances[0];
            var SelectObj = document.getElementById('subkegiatan').ej2_instances[0];
            SelectObj.enabled = true;
            var SelectObjQuery = new ej.data.Query().where('IdParent', 'equal', ParentObj.value).addParams('IdPosisi', 3);
            SelectObj.query = SelectObjQuery;
            SelectObj.text = null;
            SelectObj.dataBind();
        }

        function appendElement(elementString, form) {
            form.querySelector("#Tempdialog").innerHTML = elementString;
            var script = document.createElement('script');
            script.type = "text/javascript";
            var serverScript = form.querySelector("#Tempdialog").querySelector('script');
            script.textContent = serverScript.innerHTML;
            document.head.appendChild(script);
            serverScript.remove();
        }

        function paramToast(title, cssclass, message) {
            setTimeout(
                () => {
                    var toastObj = document.getElementById('toast_default').ej2_instances[0];
                    toastObj.title = title;
                    toastObj.cssClass = cssclass;
                    toastObj.content = message;
                    toastObj.target = document.body;
                    toastObj.show();
                }, 500);
        }

        function createdGrid(args) {
            class CustomAdaptor extends ej.data.UrlAdaptor {
                beforeSend(dataManager, request, ajaxSettings) {
                    //xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                    var action = JSON.parse(ajaxSettings.data).action;

                    if (action == 'update' || action == 'remove' || action == 'insert') {
                        var dataStrng = ajaxSettings.data;
                        // #region Sumber Dana
                        var dataSumberdana = $("#txtsumberdana").val();
                        var dataStrngNew = JSON.parse(dataStrng, (k, v) => k == 'sumberdana' ? dataSumberdana : v);
                        var dataStrng = JSON.stringify(dataStrngNew);
                        // #endregion Sumber Dana
                        // #region Kondisi
                        var dataStrngNew = JSON.parse(dataStrng, (k, v) => k == 'kondisilayak' ? '[0]' : v);
                        var dataStrng = JSON.stringify(dataStrngNew);
                        // #endregion Kondisi
                        // #region Barang Material
                        var dataStrngNew = JSON.parse(dataStrng, (k, v) => k == 'barangmaterial' ? '[0]' : v);
                        var dataStrng = JSON.stringify(dataStrngNew);
                        // #endregion Barang Material

                        ajaxSettings.data = dataStrng;
                        ajaxSettings.options.data = dataStrng;
                    }
                };
                processResponse(data, ds, query, xhr, request, changes) {
                    if (!ej.base.isNullOrUndefined(data.message)) {
                        if ((data.message.indexOf('BERHASIL DISIMPAN') == -1) && (data.message.indexOf('BERHASIL DIHAPUS') == -1)) {
                            paramToast('Error Identifikasi Kebutuhan Jasa Lainnya', 'e-toast-danger', data.message);
                        }
                        else {
                            paramToast('Identifikasi Kebutuhan Jasa Lainnya', 'e-toast-success', data.message);
                        }
                    }

                    if (!ej.base.isNullOrUndefined(data.data))
                        return data.data;
                    else
                        return data;
                };
            }
            var grid = document.querySelector('#Grid').ej2_instances[0];
            grid.dataSource = new ej.data.DataManager({
                url: "/Identifikasi/IdentifikasiPengadaanAll",
                crudUrl: "/Identifikasi/IdentifikasiPengadaanCrud",
                adaptor: new CustomAdaptor(),
                headers: [{'SIMPATTIK-TOKEN': $('input:hidden[name="__RequestVerificationToken"]').val()}]
            });
        }

        function toolbarAction(args) {
            var fileName = "Identifikasi Kebutuhan Barang";

            if (args.item.id === this.element.id + '_pdfexport') {
                var exportProperties = {
                    fileName: fileName + ".pdf"
                };

                this.pdfExport(exportProperties);
            }
            if (args.item.id === this.element.id + '_excelexport') {
                var exportProperties = {
                    fileName: fileName + ".xlsx"
                };

                this.excelExport(exportProperties);
            }
        }

        // #region Sumber Dana
        function btnSumberDana() {
            var ddSmbrdn = $("#ddSmbrdn");
            var txtNilai = $("#sumberdana");

            if (ddSmbrdn.val() != "" && txtNilai.val() != "") {
                //Get the reference of the Table's TBODY element.
                var tBody = $("#tblSumberDana > TBODY")[0];

                //Add Row.
                var row = tBody.insertRow(-1);

                //Add Sumberdana.
                var cell = $(row.insertCell(-1));
                cell.html(ddSmbrdn.val());

                //Add Nilai.
                cell = $(row.insertCell(-1));
                cell.html(txtNilai.val().replace(/\,/g, "."));

                //Add Remove.
                cell = $(row.insertCell(-1));
                var btnRemove = document.createElement("button");
                btnRemove.setAttribute("type", "button");
                btnRemove.setAttribute("class", "btn btn-icon rounded-circle btn-outline-primary");
                btnRemove.setAttribute("onclick", "btnSumberDanaRemove(this)");
                cell.append(btnRemove);

                var btnIclass = document.createElement("i");
                btnIclass.setAttribute("class", "feather icon-minus-circle");
                btnRemove.appendChild(btnIclass);

                //Clear the TextBoxes.
                ddSmbrdn.val("");
                txtNilai.val("");
            }
            else {
                paramToast('Error Identifikasi Kebutuhan Jasa Lainnya', 'e-toast-danger', 'Harap lengkapi data sumber dana');
            }
        };

        function btnSumberDanaRemove(button) {
            //Determine the reference of the Row using the Button.
            var row = $(button).closest("TR");
            if (confirm("Apakah anda yakin akan menghapus sumber dana ini?")) {
                //Get the reference of the Table.
                var table = $("#tblSumberDana")[0];

                //Delete the Table row using it's Index.
                table.deleteRow(row[0].rowIndex);
            }
        };
        // #endregion Sumber Dana
    </script>
}